<mat-card class="wrapper">
  <mat-card-title>Ros Turtlebot Controller</mat-card-title>
  <mat-card-content>
    <div class="speed">
      <p>Turtle Bot is {{speed ? 'Moving' : 'Still'}}</p>
      <p>Turtle Bot is {{angle ? 'Turning' : 'Facing Forward'}}</p>
    </div>
    <div class="game-pad">
      <button
        (click)="onUpCommand()"
        mat-fab
        color="primary"
        aria-label="Move up">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <!-- TODO: STEP 1 - ADD DOWN BUTTON -->
    </div>
    <mat-divider></mat-divider>
    <div class="resources">
      <h2>Resources</h2>
      <p>Here is the documentation for <a href="https://material.angular.io/components/grid-list/overview" target="_blank">grids</a></p>
      <p>Here is the documentation for <a href="https://material.angular.io/components/button/overview" target="_blank">buttons</a></p>
      <p>You can see a list of all available icons <a href="https://material.io/resources/icons/?style=baseline" target="_blank">here</a></p>
    </div>
  </mat-card-content>
</mat-card>
