<mat-card class="wrapper">
  <mat-card-title>Second Page Example</mat-card-title>
  <mat-card-content>
    <p>This is an example of a form</p>
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="resources">
      <h2>Resources</h2>
      <p>Here is the documentation for <a href="https://material.angular.io/components/form-field/overview" target="_blank">form inputs</a></p>
    </div>
  </mat-card-content>
</mat-card>
